*{
    margin: 0;
}

body {
    background: black;
}

a {
    margin-right: 10px;
}

a:link {
    text-decoration: none;
    color: #930cd1;
}

a:visited {
    color: #930cd1;
    text-decoration: none;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img/back.png");
    background-size: cover;
}

.font-style {
    font-family: 'Gugi', cursive;
}

.img-size {
    width: 100%;
}

.font-size5 {
    font-size: 5rem;
}

.text-center {
    text-align: center;
}

.white-color {
    color: white;
}

.border-radius5 {
    border-radius: 5px;
}

.border-bottom {
    border-bottom: 1px solid white;
}

.border-top {
    border-top: 1px solid white;
}

.m-t1 {
    margin-top: 1rem;
}

.m-t2 {
    margin-top: 2rem;
}

.m-t3 {
    margin-top: 3rem;
}

.m-t4 {
    margin-top: 4rem;
}

.m-t5 {
    margin-top: 5rem;
}

.fit-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-center {
    margin: auto;
    width: 50%;
}

.m-b1 {
    margin-bottom: 1rem;
}

.m-b2 {
    margin-bottom: 2rem;
}

.m-b3 {
    margin-bottom: 3rem;
}

.m-b4 {
    margin-bottom: 4rem;
}

.m-b5 {
    margin-bottom: 5rem;
}

.card {
    border: 1px solid #5d5d5d;
    box-shadow: 3px 4px 3px 4px #5d5d5d;
}


.footer {
    padding: 10px;
}

.intro {
    background: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    color: #fff;
    font-size: 2rem;
}

.slider {
    background: #5d5d5d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .margin-center {
        margin: auto;
        width: 90%;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }

    .text {
        font-size: 3rem;
    }
}